<launch>
  <!--arg name="model" /-->
  <!--arg name="gui" default="False" /-->
  <param name="robot_description" textfile="$(find dyros_red_lowerbody_description)/robots/red_robot_lowerbody.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="/joint_states" to="/dyros_red/jointstates"/>
  </node>
  <!--node name="high_noon" pkg="eye_of_dragon" type="high_noon" /-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dyros_red_lowerbody_description)/urdf.rviz" />
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 1 0 0 0 1 base_link Pelvis_Link 100" />
</launch>
