<library path="src">
  <class name="DyrosRedGUI" type="dyros_red_gui.dyros_red_gui.DyrosRedGuiPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      GUI plugin for dyros red humanoid 
    </description>
    <qtgui>
      <group>
        <label>RED gui</label>
      </group>
      <label>Dyros Red GUI</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
